<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Test App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button (click)="login()" expand="block" color="primary">Sign In</ion-button>

        <a [routerLink]="['/account/forgot-password']" expand="block" color="success">Forgot password?</a>

        <ion-button [routerLink]="['/account/registration']" expand="block" color="success">Create new account</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
